requests
pillow
requests-toolbelt
gtts #optional
expandvars
pyaudio
speechrecognition
openai
voicevox-client
livepng
wordllama
edge-tts
scikit-learn
pygame
tiktoken
newspaper3k
lxml
lxml_html_clean
pylatexenc
matplotlib
gpt4all # Optional
